body {
  /* background-color: #7e7a7a; */
}

* {
  /* color: white; */
}

input {
  border: none;
  border-bottom: 1px solid white;
  background-color: #7e7a7a;
  color: white;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  padding: 0.5em;
  margin: 0.5em;
}
