:root {
  --main-column-amount: 12;
  --main-row-amount: 8;
}

#display {
  height: 100vh;
  display: grid;

  grid-template-columns: repeat(
    var(--main-column-amount),
    calc(100% / var(--main-column-amount))
  );
  grid-template-rows: repeat(
    var(--main-row-amount),
    calc(100% / var(--main-row-amount))
  );
}

#spendingPlanDoughnutContainer {
  grid-column: 5 / span 4;
  grid-row: 3 / span 4;

  height: 100%;
  width: 100%;
}

#shareView {
  height: 100vh;

  grid-column: 11 / span 2;
  grid-row: 0 / span 8;
}

#expenseView {
  height: 100vh;

  grid-column: 1 / span 2;
  grid-row: 0 / span 8;
}
